input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=tel],
textarea {
    border: none;
    border: 2px solid #33cc33;
	box-shadow: none;
	border-radius: 5px;
	padding: 5px;
}
textarea {border-radius: 5px; padding: 15px;}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=url]:hover,
input[type=tel]:hover,
textarea:hover,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=tel]:focus,
textarea:focus {
    box-shadow: 0 0 0 .2rem #99ff99;
}
	
input[type=reset], button.btn-negative {
	background-color: #ff0000; /* Red */
    border: 1px solid #ff0000;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 5px;
	-moz-transition-property: background-color , color;
	-moz-transition-duration: 0.5s , 0.5s;
    -o-transition-property: background-color , color;
	-o-transition-duration: 0.5s , 0.5s;
    -webkit-transition-property: background-color , color;
	-webkit-transition-duration: 0.5s , 0.5s;
    transition-property: background-color , color;
	transition-duration: 0.5s , 0.5s;
}
input[type=reset]:hover, button.btn-negative:hover {
	background-color: white; /* white */
    color: #ff0000;
}    
input[type=submit], button.btn-positive {
	background-color: #33cc33; /* Green */
	border: 1px solid #33cc33;
    color: white;
	padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-collapse: 5px;
	border-radius: 5px;
	-moz-transition-property: background-color , color;
	-moz-transition-duration: 0.5s , 0.5s;
    -o-transition-property: background-color , color;
	-o-transition-duration: 0.5s , 0.5s;
    -webkit-transition-property: background-color , color;
	-webkit-transition-duration: 0.5s , 0.5s;
    transition-property: background-color , color;
	transition-duration: 0.5s , 0.5s;
    
}
input[type=submit]:hover, button.btn-positive:hover {
	background-color: white; /* white */
    color: #33cc33;
}