/* font: prompt*/
@import url('https://fonts.googleapis.com/css?family=Prompt');

/*Input style*/
@import url('input.css');
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
li.bg {
 background-color: #33cc33;
 color: white;
 font-family: Architects Daughter;
 font-size: 22px;
}

ul.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 10%
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.exit {float: right;}
li {
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    font-family: Architects Daughter;
 	font-size: 22px;
    -moz-transition-property: background-color;
	-moz-transition-duration: 0.5s;
    -o-transition-property: background-color;
	-o-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
    transition-property: background-color;
	transition-duration: 0.5s;
}

li:not(.bg) a:hover:not(.bg) {
    background-color: #111
    ;
}
.altro {
    color: white;
    font-family: Architects Daughter; 
	font-size: 22px;
    cursor: pointer;
}
.alert {
    padding: 2%;
    color: black;
	border-right: 5px #f00 solid;
    background-color: #ff9393;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 48dp;
    line-height: 20px;
    cursor: pointer;
    -moz-transition:  color 0.3s;
    -o-transition:  color 0.3s;
    -webkit-transition:  color 0.3s;
    transition:  color 0.3s;
}

.closebtn:hover {
    color: red;
}
div.centrato {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0px 0px -250px;
}
/*contenitore*/
.content {
	margin: 10% 2%;
	border-radius: 25px;
    padding: 5%;
	color: black;
    border: 1px #eee solid;
    text-align: center;
}
/*Title*/
.title {
	color: #3c3;
    font-family: Architects Daughter;
    font-weight: bold;
    text-align: center;
}
/*Text*/
.text {
	color: black;
    font-family: 'Prompt';
    font-size: 22px;
    text-align:center;
}
/*comment*/
.comment {
	margin-top: 5%;
    border-top: #eee solid 1px;
}

@font-face {
	font-family: Pricedown;
	src:url(../rsc/pricedown bl.ttf);
}