
input[type=text] {
    border: none;
    border-bottom: 1px solid #33cc33;
}
input[type=text]:focus:hover {
    border: none;
    border-bottom: 1px solid #33cc33;
}

input[type=email] {
    border: none;
    border-bottom: 1px solid #33cc33;
}
input[type=email]:focus:hover {
    border: none;
    border-bottom: 1px solid #33cc33;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid #33cc33;
} 
input[type=password]:focus:hover {
    border: none;
    border-bottom: 1px solid #33cc33;
}
	
input[type=reset] {
	background-color: #ff0000; /* Red */
    border: 1px solid #ff0000;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-moz-transition-property: background-color , color;
	-moz-transition-duration: 0.5s , 0.5s;
    -o-transition-property: background-color , color;
	-o-transition-duration: 0.5s , 0.5s;
    -webkit-transition-property: background-color , color;
	-webkit-transition-duration: 0.5s , 0.5s;
    transition-property: background-color , color;
	transition-duration: 0.5s , 0.5s;
}
input[type=reset]:hover {
	background-color: white; /* white */
    color: #ff0000;
}    
input[type=submit] {
	background-color: #33cc33; /* Green */
	border: 1px solid #33cc33;
    color: white;
	padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-collapse: 5px;
	-moz-transition-property: background-color , color;
	-moz-transition-duration: 0.5s , 0.5s;
    -o-transition-property: background-color , color;
	-o-transition-duration: 0.5s , 0.5s;
    -webkit-transition-property: background-color , color;
	-webkit-transition-duration: 0.5s , 0.5s;
    transition-property: background-color , color;
	transition-duration: 0.5s , 0.5s;
    
}
input[type=submit]:hover {
	background-color: white; /* white */
    color: #33cc33;
}